<!--
<button (click)="listar()">Listar</button>

<ul>
  <li *ngFor="let filme of listaFilmes ">
    <span (click)="selecionar(filme)" >{{filme.title}} </span>
    <span (click)="remover(filme.id)"><b>X</b></span>
  </li>
</ul>


</div> -->

<!-- Navbar com nome do cinema e icon de coração e compartilhar -->
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Cinema SPD</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<!-- -------------------------------------------- -->
<div *ngIf="estaEditando == false">
    <div *ngFor="let filme of listaFilmes">


      <mat-card class="example-card">
        <mat-card-header>
          <!-- <div mat-card-avatar class="example-header-image"></div> -->
          <mat-card-title>{{filme.title}}</mat-card-title>

          <div class="menu-card">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" /></mat-icon>
                <span (click)="selecionar(filme)">Atualizar {{filme.title}}</span>
              </button>
              <!-- <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
              </button> -->
              <!-- <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
              </button> -->
            </mat-menu>
          </div>
          <!-- <mat-card-subtitle>2023</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="{{filme.cartaz}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          
          <p>
            {{filme.descricao}}
          </p>

        </mat-card-content>
        <mat-card-actions>
          <!-- --------------------- -->
          <button mat-raised-button color="primary">{{filme.vizualiado}}</button>
        </mat-card-actions>
      </mat-card>

    </div>
</div>
<div *ngIf="estaEditando != false" >
  <div *ngFor="let filme of listaFilmes">


    <mat-card class="example-card">
      <mat-list role="list">
        <mat-list-item role="listitem">
          <input type="text" [(ngModel)] = "filme.title" placeholder="Título">
        </mat-list-item>

        <mat-list-item role="listitem">
          <input type="text" [(ngModel)] = "filme.descricao" placeholder="Descrição">
        </mat-list-item>

        <mat-list-item role="listitem">
          <input type="text" [(ngModel)] = "filme.author" placeholder="Autor">
        </mat-list-item>

        <mat-list-item role="listitem">
          <input type="text" [(ngModel)] = "filme.avaliacao" placeholder="Avaliação">
        </mat-list-item>

        <mat-list-item role="listitem">
          <input type="text" [(ngModel)] = "filme.cartaz" placeholder="Cartaz">
        </mat-list-item>

        <mat-list-item role="listitem">
          <input type="text" [(ngModel)] = "filme.genero" placeholder="Gênero">
        </mat-list-item>

        <mat-list-item role="listitem">
          <input type="text" [(ngModel)] = "filme.cor" placeholder="Cor">
        </mat-list-item>

        <!-- ------------- -->
        <mat-list-item role="listitem">
          <label for="">Status</label>
          <select name="s" id="" [(ngModel)] = "filme.vizualiado" placeholder="status">
            <option value="Quero">Quero</option>
            <option value="Tenho">Tenho</option>
            <option value="Terminado">Terminado</option>
          </select>
      </mat-list-item>

        <mat-list-item role="listitem">
          <input type="number" [(ngModel)] = "filme.nota" placeholder="Nota">
        </mat-list-item>

        <!-- Estilização do button -->
        <mat-list-item role="listitem">
          <button mat-raised-button color="accent" (click)="cancelar()">voltar</button>
          <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
          <button id="buttonecluir" mat-raised-button color="warn" (click)="remover(filme.id)"><b>remover</b></button>
        </mat-list-item>

    </mat-list>
      <mat-card-actions>
        <!-- <button mat-raised-button color="primary">Curtir</button>
        <button mat-raised-button color="warn">Descrição</button> -->
      </mat-card-actions>
    </mat-card>

  </div>
</div>

<div>
  <!-- <button mat-raised-button color="warn">Cadastrar</button> -->
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>

        <mat-panel-description>
          <b>Inserir novos filmes</b>
        </mat-panel-description>

        <mat-panel-title>

        </mat-panel-title>

      </mat-expansion-panel-header>


        <mat-list role="list">
            <mat-list-item role="listitem">
              <input type="text" [(ngModel)] = "filme.title" placeholder="Título">
            </mat-list-item>

            <mat-list-item role="listitem">
              <input type="text" [(ngModel)] = "filme.descricao" placeholder="Descrição">
            </mat-list-item>

            <mat-list-item role="listitem">
              <input type="text" [(ngModel)] = "filme.author" placeholder="Autor">
            </mat-list-item>

            <mat-list-item role="listitem">
              <input type="text" [(ngModel)] = "filme.avaliacao" placeholder="Avaliação">
            </mat-list-item>

            <mat-list-item role="listitem">
              <input type="text" [(ngModel)] = "filme.cartaz" placeholder="Cartaz">
            </mat-list-item>

            <mat-list-item role="listitem">
              <input type="text" [(ngModel)] = "filme.genero" placeholder="Gênero">
            </mat-list-item>

            <mat-list-item role="listitem">
              <input type="text" [(ngModel)] = "filme.cor" placeholder="Cor">
            </mat-list-item>

            <mat-list-item role="listitem">
              <label for="">Status</label>
              <select name="s" id="" [(ngModel)] = "filme.vizualiado" placeholder="status">
                <option value="Quero">Quero</option>
                <option value="Tenho">Tenho</option>
                <option value="Terminado">Terminado</option>
              </select>
          </mat-list-item>

            <mat-list-item role="listitem">
              <input type="number" [(ngModel)] = "filme.nota" placeholder="Nota">
            </mat-list-item>

            <mat-list-item role="listitem">
              <button mat-button color="warn" (click)="cancelar()">cancelar</button>
              <button mat-stroked-button color="primary" (click)="salvar()">Salvar</button>
            </mat-list-item>

        </mat-list>

    </mat-expansion-panel>

  </mat-accordion>

</div>

<!-- fOOTER -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Cine SPD</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>



<!-- <div class="button-meio">
<button onclick="cadastrar(true)">Cadastrar12</button>
  <div *ngIf = "aberto == true">
    <input type="text" placeholder="email">
  </div>
</div> -->


