
<!-- <button (click)="listar()">Listar</button>

<ul>
  <li *ngFor="let filme of listaFilmes ">
    <span (click)="selecionar(filme)" >{{filme.title}} </span>
    <span (click)="remover(filme.id)"><b>X</b></span>
  </li>
</ul>

<div>

  <input type="text" [(ngModel)] = "filme.title" placeholder="Título">
  <br><br>
  <input type="text" [(ngModel)] = "filme.descricao" placeholder="Descrição">
  <br><br>
  <input type="text" [(ngModel)] = "filme.author" placeholder="Autor">
  <br><br>
  <input type="text" [(ngModel)] = "filme.avaliacao" placeholder="Avaliação">
  <br><br>
  <input type="text" [(ngModel)] = "filme.cartaz" placeholder="Cartaz">
  <br><br>
  <input type="text" [(ngModel)] = "filme.genero" placeholder="Gênero">
  <br><br>
  <input type="text" [(ngModel)] = "filme.cor" placeholder="Cor">
  <br><br>
  <input type="text" [(ngModel)] = "filme.vizualiado" placeholder="vizualiado">
  <select name="" id="" [(ngModel)] = "filme.vizualiado">
  <option value="Quero">Quero</option>
  <option value="Tenho">Tenho</option>
  <option value="Terminado">Terminado</option>
</select>
  <br><br>
  <input type="number" [(ngModel)] = "filme.nota" placeholder="Nota">
  <br><br>
  <label for="">Imagem do filme</label>
  <img src="{{filme.cartaz}}" alt="">

  <button (click)="cancelar()">cancelar</button>
  <br>
  <button (click)="salvar()">Salvar</button>

</div> -->

<div *ngFor="let filme of listaFilmes">


  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>{{filme.title}}</mat-card-title>
      <!-- <mat-card-subtitle>2023</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image src="{{filme.cartaz}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{filme.descricao}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Curtir</button>
      <button mat-button>descrição</button>
    </mat-card-actions>
  </mat-card>

</div>



<div class="example-button-row">
  <button mat-raised-button color="warn">Cadastrar</button>
</div>

