.example-card {
    max-width: 300px;
    min-width: 400px;
    float: left;
    margin:3%;
    margin-top: 10%;
    /* box-sizing: border-box;
    display:inline-flex; */
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;

  }

  /* --------------------------------------------- */
  /* .example-button-row button,
  .example-button-row a {
    margin-right: 2%;
    position: fixed;
    top: 91%;
    right: 1%;
    width: 10%;
  } */

  /* .example-disabled {
    display: inline-flex;
  } */

  /* -------------------------------------------- */

.example-spacer {
  flex: 1 1 auto;
}

  /* -------------------------------------------- */
.menu-card{
    left: 85%;
    position: absolute;
    top: -0.3%;

  }

  /* ----------------------------------------------- */
  .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;

  }

  .mat-accordion{
    margin-left: 8px;
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    margin-bottom: 20%;
  }

/* .button-meio{
  margin-left: 8px;
    position: absolute;
    top: 15%;
    left: 10%;
    width: 50%;
}  */

/* ------------------------------------ */
/* ESTILOS DOS ICONS */
/* ICON DE "MAIS"  */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* -------------------------------- */
#buttonecluir{
  margin-left:10%;
}

.descricao{
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;

}
